@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
/* ------ Checkout Images --------*/
.checkbox-style {
    padding-bottom:2rem;
}
.tr-rows {
    margin:2rem;
    padding:7rem;
}

.shopping-cart {
    margin:2rem;
    height:100%;
    padding-bottom:2rem;
}

/* #product-price {
    padding-left:4.2rem;
} */
.row {
    margin:4rem;
}

.checkout-images {
        border: 2px solid #aaaaaa;
        padding: 0.2em;
        margin: 1em;
        border-radius: 0.3em;
        box-shadow: 5px 2.5px 2.5px #aaaaaa;
        /* height: 70%; */
        width: 65%;
        transition: transform .2s;
    }
.align-left {
    text-align: left;
}

#add_remove {
    border: none;
    border-radius: 1500px;
    font-size: 1.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;

}
.tr-rows, table {
   
    box-shadow: 0px 2.5px 2.5px #aaaaaa;
    border-collapse: separate; 
    border-spacing: 5em;  
    margin-bottom:2rem; 
}


.tr-rows th {
    padding: 1.2rem;
   border-collapse: separate; 
   border-spacing: 5em;  
}

.shipto-btn {
    text-align: center;
    border:1px solid black;
    color:#89253e;
    background-color: #fff;
    padding: 16px 26px 16px 26px; 
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.shipto-btn:hover,
.shipto-btn:active,
.shipto-btn:focus
{
    color:#fff;
    background:#89253e; 
    transform:scale(1.1,1.1);
    transition-property: all 2s ease-in;
    transition-delay: .1s;
}